.media-scroll {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 43%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  & > * {
    scroll-snap-align: start;
  }
}

@media (width < 640px) {
  .media-scroll {
    grid-auto-columns: 73%;
  }
}

@media (640px <= width < 1024px) {
  .media-scroll {
    grid-auto-columns: 63%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.media-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.media-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
